{% extends "base.html" %}


{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="mb-4">Контакты</h1>
            <p>Свяжитесь с нами по любым вопросам или предложениям:</p>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Наш адрес</h5>
                    <p class="card-text">
                        <i class="fas fa-map-marker-alt"></i> ул. Примерная, д. 123, г. Москва, Россия
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Телефон</h5>
                    <p class="card-text">
                        <i class="fas fa-phone"></i> +7 (123) 456-78-90
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Электронная почта</h5>
                    <p class="card-text">
                        <i class="fas fa-envelope"></i> <a href="mailto:info@example.com">info@example.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
